<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="assets/mitslogo.png" />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a class="navbar-item">
    <img src="assets/mitslogo.png" style="width: 50px;">
  </a>
</div>

<!-- <div>
  <h2>routing and navigation</h2>

</div> -->
<!-- <nav>
  <a routerLink="/home" routerLinkActive="activie">home</a>
  <a routerLink="/admin" routerLinkActive="activie">admin</a>
  
</nav>  -->


<div class="app-container">
  <app-menu-component class="menu-bar"></app-menu-component>
  <app-main-component class="main-content-container"></app-main-component>   
   <!-- <router-outlet></router-outlet>    -->
</div>
<!-- <router-outlet></router-outlet>  -->